<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to the Drive</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header flex p-5 justify-end">
      <button
        type="button"
        id="showPopupBtn"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Upload
        <i class="ri-upload-cloud-fill text-xl ml-2"></i>
      </button>
      <a href="/user/logout">
        <button
          type="button"
          id="logoutBtn"
          class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
        >
          Logout
          <i class="ri-logout-box-line text-xl ml-2"></i>
        </button>
      </a>
    </div>
    <form
      action="/upload-file"
      method="post"
      enctype="multipart/form-data"
      class="hidden absolute flex flex-col items-center justify-center h-screen w-screen top-0 left-0 bg-red-100 z-10"
    >
      <div class="flex items-center justify-center w-96">
        <label
          for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
        >
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg
              class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 16"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
              />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click to upload</span> or drag and
              drop
            </p>
          </div>
          <input id="dropzone-file  " type="file" class="hidden" name="file" />
        </label>
      </div>
      <button
        type="submit"
        class="mt-5 w-52 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Upload
        <i class="ri-upload-cloud-fill text-xl ml-2"></i>
      </button>

      <button type="button" class="absolute top-5 right-5" id="closePopupBtn">
        <i class="ri-close-large-fill text-xl"></i>
      </button>
    </form>

    <script>
      document.querySelector("#showPopupBtn").addEventListener("click", () => {
        document.querySelector("form").style.display = "flex";
      });
      document.querySelector("#closePopupBtn").addEventListener("click", () => {
        document.querySelector("form").style.display = "none";

        const input = document.querySelector('#file');
      });
    </script>
  </body>
</html>
